.page-container {
  display: flex;
}

.side-bar-container {
  width: 18%;
}

.products-container {
  width: 82%;
  padding: 0 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em
}

.card {
  width: 100%;

}