<div id="cart-popup">
  <h2>Aggiunto al carrello</h2>
  <p id="cart-popup-close">X</p>
  <div id="cart-container">
    <div id="thumbnail-cart"><img src="Scarpa/1-q.jpg" alt="" /></div>
    <div id="cart-details">
      <h3>Nike Dunk Low</h3>
      <p>Scarpa - Uomo</p>
      <p>Taglia/misura EU</p>
      <span class="price">119.99€</span>
    </div>
  </div>
  <button>
    <a href="../carrello/carrello.html">Visualizza carrello (1)</a>
  </button>
  <button><a href="../checkout/checkout.html">Pagamento</a></button>
</div>
